<header class="toolbar toolbar-header">
  <div class="toolbar-actions">

    <button class="btn btn-default" data-toggle="modal" data-target="#modalCreateAccount">
      <span class="icon icon-plus-squared icon-text"></span>
      {{ strings.NEW_ADDRESS }}
    </button>

    <button class="btn btn-default">
      <span class="icon icon-publish icon-text"></span>
      Import
    </button>

    <button class="btn btn-default">
      <span class="icon icon-export icon-text"></span>
      Export All
    </button>
  </div>
</header>


<table class="table table-condensed">
  <thead>
    <tr>
      <th>{{ strings.CURRENCY }}</th>
      <th>{{ strings.CATEGORY }}</th>
      <th>{{ strings.LABEL }}</th>
      <th>{{ strings.ADDRESS }}</th>
      <th>{{ strings.ACTIONS }}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="address in addresses">
      <td>{{ address.type }}</td>
      <td>
        <span class="icon" ng-class="getIconClass(address.category)"></span>
      </td>
      <td>{{ address.label }}</td>
      <td>{{ address.address }}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-mini btn-default" data-toggle="modal" data-target="#modalEditAccount"
                  ng-click="setAddressToEdit(address)">
            <span class="icon icon-pencil"></span>
          </button>
          <button class="btn btn-mini btn-default" ng-click="copyToClipboard(address.address)">
            <span class="icon icon-clipboard"></span>
          </button>
          <button class="btn btn-mini btn-default" data-toggle="modal" data-target="#modalDeleteAccount"
                  ng-click="setAddressToDelete(address)">
            <span class="icon icon-cancel-squared"></span>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
