webview {
  flex: 0 1;
  width: 0px;
  height: 0px;
}
webview.show {
  position:absolute;
  width:100%;
  height:100%;
}
.tab-group {
  background-color: #b8b6b8;
}
.btn-group .btn:disabled {
  background-color: #ccc;
  background-image: none;
}
.btn:disabled .icon {
  color:#eee;
}
