<form class="modal-dialog" role="document" novalidate>
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title">{{ strings.DELETE_ADDRESS }}</h5>
    </div>

    <div class="modal-body">
      <p>{{ strings.CONFIRM_DELETE }}</p>
      <p>{{ addressToDelete }}</p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
        {{ strings.BTN_CLOSE }}
      </button>
      <button type="button" class="btn btn-default"
              ng-click="deleteAddress()">
        {{ strings.BTN_CONFIRM }}
      </button>
    </div>

  </div><!-- /.modal-content -->

</form><!-- /.modal-dialog -->
